node_modules/
release/
build/backend/
build/pyinstaller/
*.pyc
__pycache__/
.venv/
venv/
.env
build/
dist/
*.spec
*.zip
*.exe

输入图片/*
!输入图片/.gitkeep
输出海报/*
!输出海报/.gitkeep

*.log

月度之星海报生成器-可直接发人使用/
dist_installer/
